
<!DOCTYPE HTML>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <main>
        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">

            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Регистрация</label>
                    <input type="text" name="txt" placeholder="Имя пользователя" required="">
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Пароль" required="">
                    <input type="password" name="pswdr" placeholder="Повторите пароль" required="">
                    <button>Зарегестрироваться</button>
                </form>
            </div>

            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Вход</label>
                    <input type="email" name="email" placeholder="Email" required="">
                    <input type="password" name="pswd" placeholder="Пароль" required="">
                    <button>Войти</button>
                </form>
            </div>
        </div>
    </main>

</body>
</html>